json.json
DeSo/hotel-premier/node_modules/*
DeSo/hotel-premier/.next/*
DeSo/target/
DeSo/src/main/java/ddb/deso/almacenamiento/DAO/DAOGENERICO.java
DeSo/main/java/src/ddb/deso/almacenamiento/DAO/DAOGENERICO.java
*.class
.idea/*
DeSo.zip
posta.txt
/.vscode/
/.target/
/mate
/mate/*
DeSo/src/main/resources/static/
nohup.out
